@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Poppins:wght@400;700&family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

body {
  width: 1440px;
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
  margin-left: 100px;
}

.header {
  display: flex;
  background-color: white;
  position: fixed;
  z-index: 9999;
  width: 1440px;
  height: 65px;
  border: 1px solid #344563;
  margin-top: -8;
}

.menu {
  display: flex;
  flex-direction: row;
  width: 1440px;
}

.link-div {
  width: 100%;
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 25px;
  margin-right: 100px;
}

span a {
  color: #6070ff;
}

.link-div a {
  float: right;
  margin-right: 30px;
}

span {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  height: 20px;
  width: 76px;
  margin-left: 100px;
  margin-top: 25px;
}

.page1 {
  display: flex;
  flex-direction: column;
  height: 916px;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 100px;
  background-image: url(assets/images/Header_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 110px;
  margin: 250px 260px 370px 260px;
  color: #091e42;
  letter-spacing: 0.37px;
  height: 122px;
  width: 920px;
}

#p1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #344563;
}

#P2 {
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  line-height: 24px;
}

#p3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

#soc_img {
  margin-left: 260px;
}

.cards {
  display: flex;
  background-color: white;
  margin: 142px;
  height: 496px;
  width: 1156px;
  border-radius: 8px;
}

.card {
  margin: 24px 0 24px 24px;
}

#txt_img {
  margin: 48px 46px 24px 46px;
}

.btns {
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 56px;
  border: 1px solid #396df2;
  padding: 12px;
  border-radius: 10px;
}

.tags {
  margin-top: 24px;
}
