.modal {
  /* display: none; */
  width: 1156px;
  height: 1163px;
  border-radius: 16px;
  position: absolute;
  left: calc(45% - 1440px/2);
  right: 0px;
  top: 77px;
  bottom: 0px;
  background: #FFFFFF;
  border: 1px solid #EBECF0;
  box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
  z-index: 91;
}

/* small screen device */

@media screen and (max-width: 768px){
  .modal {    
    box-sizing: border-box;
    /* display: none; */
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    padding: 16px;
    gap: 12px;
    width: 343px;
    height: 713px;
    left: calc(42.5% - 375px/2);
    top: 60px;
    border: 1px solid #DFE1E6;
    font-size: 15px;
    line-height: 24px;    
}
}
